# build
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment
.env
.env.production

# macOS
.DS_Store

# Recursos privados de proyectos
/proyectos/

# Archivos temporales
*.tmp
*.bak

# Archivos de Word temporales
~$*.docx